<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiUpload>
        <processor mode="on" 
                   type="SitecoreTactics.Pipelines.Upload.CheckForRestrictedMagicNumber, SitecoreCookbook" 
                   patch:before="processor[@type='Sitecore.Pipelines.Upload.CheckSize, Sitecore.Kernel']" />
      </uiUpload>
    </processors>
  </sitecore>
</configuration>
